h1{
  margin: 0;
  font-weight: normal !important;
}
header{

  width: 100%;
  background-color: lightpink;
  height: 80px !important;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.customCard{
 background-color: #EBEEF3 !important;   
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.one {
  width: 20%;
  height: auto;
  float: left;
  text-align: right;
}

.two {
  height: 100%;
}
.pic{
  width: 10% !important;
  float: left;
  height: 300px !important;
  margin-top: 30px;
  width:100%;


}

img{  border-radius: 50% !important;
}
.btn{
  margin-left:18%;
}